---
import { Image } from "astro:assets";

import ProjectLayout from "../../../layouts/ProjectLayout.astro";
import Prose from "../../../components/Prose.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import CustomTags from "../../../components/custom/CustomTags.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("slug is required");
}
const entry = await getEntry("projects", slug);
if (entry === undefined) {
  return Astro.redirect("/404");
}
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  const paths = projects.map((project: { slug: any }) => {
    return {
      params: {
        slug: project.slug,
      },
      props: {
        project,
      },
    };
  });
  return paths;
}
type Props = {
  project: CollectionEntry<"projects">;
};
const { project } = Astro.props;
const { Content } = await project.render();
---

<ProjectLayout title={entry.data.title}>
  <a
    href="/#gallery"
    class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white"
    >Back To Home</a
  >
  <article>
    <div class="projectGrid">
      <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
      <CustomTags tags={entry.data.tags} />
      <div class="h-60 my-10 overflow-hidden">
        <Image
          src={"/images/" + entry.data.image}
          alt={entry.data.title}
          height={300}
          width={Math.round((100 * 16) / 9)}
          transition:name={"/images/" + entry.data.image}
          class="w-1/2 h-auto object-cover mx-auto"
        />
      </div>

      <Prose>
        <Content />
      </Prose>
    </div>
  </article>
</ProjectLayout>

<style>
  .projectGrid {
    display: grid;
    justify-items: center;
  }
</style>
