---
import { getCollection } from "astro:content";
import ArticleCard from "./ArticleCard.astro";

const posts = (await getCollection("posts"))
    .sort(
        (a, b) =>
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime(),
    )
    .slice(0, 3);
---

<section
    class="py-16 bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-800"
>
    <h2
        class="text-[8vw] uppercase tracking-tight font-semibold mb-8 block gradient-text"
    >
        Latest Insights
    </h2>
    <div
        class="max-w-7xl mx-auto px-4 md:px-6"
        data-aos="fade-up"
        data-aos-delay="100"
    >
        <div
            class="text-center mb-12 lg:mb-20"
            data-aos="fade-up"
            data-aos-delay="200"
        >
            <p
                class="text-xl text-gray-600 dark:text-gray-400 max-w-2xl mx-auto"
            >
                Stay updated with our latest thoughts on web design, user
                experience, and digital growth.
            </p>
        </div>
        <div
            class="grid grid-cols-1 md:grid-cols-3 gap-8"
            data-aos="fade-up"
            data-aos-delay="300"
        >
            {posts.map((post) => <ArticleCard article={post} />)}
        </div>
        <div class="mt-12 text-center" data-aos="fade-up" data-aos-delay="400">
            <a
                href="/blog"
                class="inline-flex items-center text-teal-600 dark:text-teal-400 font-bold hover:underline group"
            >
                View all posts
                <svg
                    class="w-5 h-5 ml-2 transition-transform group-hover:translate-x-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
