---

---

<p class="text-primaryBlk max-w-md ml-12">
  We’re always here to help. Contact us if you are experiencing issues with one
  of our products or have any questions.
</p>
<div class="contact-form">
  <form action="https://formsubmit.co/todurant@sublimeux.com" method="POST">
    <!-- <form action="https://submit-form.com/NXqDDWsq" id="contactForm"> -->
    <!-- <form
    data-netlify="true"
    netlify-honeypot
    name="contact"
    method="POST"
    action="/success"
  > -->
    <!-- <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input
      type="hidden"
      name="subject"
      value="Submission from Sublime UX form"
    />
    <p>
      <input type="hidden" name="form-name" value="message" /> -->
    <!-- <input
      type="hidden"
      name="_redirect"
      value="https://www.sublimeux.com/success"
    /> -->
    <input type="text" name="_honey" class="hidden" />
    <input type="hidden" name="_captcha" value="false" />
    <input
      type="hidden"
      name="_next"
      value="https://www.sublimeux.com/success"
    />
    <input
      type="hidden"
      name="_subject"
      value="New submission from Sublime UX"
    />
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Name</label
    >
    <input
      id="name"
      type="text"
      name="name"
      class="bg-gray-50 border-2 border-primaryDrk text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
    />

    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Email</label
    >
    <input
      id="email"
      type="email"
      name="email"
      required
      class="bg-gray-50 border-2 border-primaryDrk text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
    />

    <label
      for="message"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Message:</label
    >
    <textarea
      id="message"
      wrap="soft"
      name="message"
      required
      class="border-2 border-primaryDrk"></textarea>
    <button
      type="submit"
      class="border-2 border-primary bg-primaryDrk text-primaryWhite"
      >Submit</button
    >
  </form>
  <div id="thankYou" class="2" style="display:none">
    <h2 class="text-primaryMed text-3xl">ThankYou</h2>
    <h6 class="text-primaryBlk text-xl">
      Someone will reach out to you within one business day.
    </h6>
  </div>
</div>
<!-- <script>
  document.forms["contactForm"].addEventListener("submit", function (event) {
    // Do something with the form's data here
    // this.style["display"] = "none";

    showThankYou();
    event.preventDefault();
  });
  function showThankYou() {
    var x = document.getElementById("thankYou");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script> -->
<style>
  .contact-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  label {
    font-size: 16px;
  }

  textarea,
  button {
    border-radius: 5px;
    /* border: 1px solid #cbd5e1; */
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    /* background-color: #2bdcd2; */
    /* border: 1px solid #2bdcd2; */

    font-size: 16px;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
<!-- <script>
  const handleSubmit = (event) => {
    event.preventDefault();

    const contactForm = event.target;
    const formData = new FormData(contactForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => console.log("Form successfully submitted"))
      .catch((error) => alert(error));
  };

  document.querySelector("form").addEventListener("submit", handleSubmit);
</script> -->
