---
import { Image } from "astro:assets";
import Lockheed from "@/assets/icons/lockheed.webp";
import Ncdot from "@/assets/icons/ncdot.webp";
import Usps from "@/assets/icons/usps_oig.webp";
import Homeland from "@/assets/icons/homeland.webp";
import Nctreasurer from "@/assets/icons/nc-treasurer.webp";

const title = "Trusted by Elite Organizations";

const logos = [
  { src: Lockheed, alt: "Lockheed Martin" },
  { src: Ncdot, alt: "NC DOT" },
  { src: Usps, alt: "USPS OIG" },
  { src: Homeland, alt: "Homeland Security" },
  { src: Nctreasurer, alt: "NC Treasurer" },
];
---

<section
  class="bg-white dark:bg-slate-900 py-12 lg:py-16 border-y border-slate-50 dark:border-slate-800/50"
>
  <div class="max-w-7xl mx-auto px-4 md:px-6">
    <div class="text-center mb-4 lg:mb-12">
      <h2
        class="text-sm font-bold uppercase tracking-[0.2em] text-slate-800 dark:text-slate-400"
      >
        {title}
      </h2>
    </div>

    <div
      class="flex flex-wrap justify-center items-center gap-10 md:gap-16 lg:gap-24 opacity-90 contrast-125 dark:invert dark:opacity-50"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      {
        logos.map((logo, index) => (
          <div
            class="flex items-center justify-center transition-all duration-500 transform hover:scale-110"
            data-aos="fade-up"
            data-aos-delay={index * 100}
          >
            <Image
              src={logo.src}
              width={200}
              height={200}
              format="avif"
              quality={75}
              alt={logo.alt}
              class="h-8 md:h-24 w-auto object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
