---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Tags from "./CustomTags.astro";

const { project } = Astro.props;
const projectImageSrc =
  typeof project.data.projectimage === "string"
    ? project.data.projectimage
    : project.data.projectimage?.src;

interface Props {
  project: CollectionEntry<"projects">;
}
---

<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={"/projects/" + project.id}>
      <!-- <img
        src={"/images/" + project.data.projectimage.src}
        alt="project Image"
        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      /> -->
      {projectImageSrc && (
        <Image
          src={projectImageSrc}
          alt={project.data.alt ?? "project Image"}
          class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
          width={416}
          height={234}
          format="avif"
          quality={80}
        />
      )}
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href={"/projects/" + project.id}> {project.data.title}</a>
      </h2>

      <Tags tags={project.data.tags} />
    </div>
  </div>
</div>
