---
import type { CollectionEntry } from "astro:content";
import Tags from "./CustomTags.astro";

interface Props {
  project: CollectionEntry<"projects">;
}
const { project } = Astro.props;
const projectImageSrc =
  typeof project.data.projectimage === "string"
    ? project.data.projectimage
    : project.data.projectimage?.src;
---

<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={"/projects/" + project.id}>
      {projectImageSrc && (
        <img
          src={projectImageSrc}
          alt={project.data.alt ?? project.data.title}
          class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
        />
      )}
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href={"/projects/" + project.id}> {project.data.title}</a>
      </h2>

      <Tags tags={project.data.tags} />
    </div>
  </div>
</div>
