---
import { getCollection } from "astro:content";
import ArticleCard from "./ArticleCard.astro";

const posts = await getCollection("posts");

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8 md:gap-x-16 md:gap-y-32 md:pt-24"
>
  {sortedPosts.map((article) => <ArticleCard article={article} />)}
</div>
