---
import { Image, Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CardTop from "../../assets/images/card-mask2.svg";
import CustomTags from "./CustomTags.astro";

const { project } = Astro.props;

interface Props {
  project: CollectionEntry<"projects">;
}
---

<a href={"/projects/" + project.slug}>
  <div class="rounded-md shadow-md h-[300px] w-[350px] overflow-hidden">
    <div class="h-[300px] w-[350px] relative bg-white">
      <Image
        id="cardTop"
        src={CardTop}
        height={300}
        width={350}
        alt="top"
        class="z-10 absolute"
      />
      <Image
        src={project.data.cover}
        height={300}
        width={350}
        alt={project.data.title}
        class="z-0 object-cover absolute top-4"
      />

      <h3 class="text-primaryDrk absolute bottom-4 left-4 z-20">
        {project.data.title}
      </h3>
    </div>
  </div>
</a>
