---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const allProjects = await getCollection("projects");
const filteredProjects = allProjects.filter(
  (project) => project.data.type !== "featured"
);
---

<div id="gallery" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
  {filteredProjects.map((project) => <ProjectCard project={project} />)}
  <!-- put back gallery -->
</div>
