---
import QuoteWName from "../custom/QuoteWName.astro";
const {
  quote = "We are very pleased with the redesign of our website. Our experience working with them was tailored to our needs. We were very impressed by their extensive knowledge of our business needs as well as our web design needs. We were very fortunate to have them work with us.",
  name = "Quinton",
} = Astro.props;
---

<script
  type="application/ld+json"
  set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "Review",
    itemReviewed: {
      "@type": "LocalBusiness",
      name: "Sublime UX",
      image: "https://www.sublimeux.com/images/socialImage.webp",
      url: "https://www.sublimeux.com",
    },
    author: {
      "@type": "Person",
      name: name,
    },
    reviewBody: quote,
    reviewRating: {
      "@type": "Rating",
      ratingValue: "5",
      bestRating: "5",
    },
  })}
/>

<section class="max-w-(--breakpoint-xl) px-4 pt-0 pb-8 mx-auto">
  <QuoteWName quote={quote} name={name} />
  <div class="mt-4">
    <h3 class="text-2xl text-slate-800 dark:text-slate-50 pl-4">
      We helped {name}'s site go from page 9 on Google to page <span
        class="font-semibold">1 in 90 days.</span
      >
    </h3>
  </div>
</section>
