---
import QuoteWName from "../custom/QuoteWName.astro";
---

<section class="max-w-(--breakpoint-xl) px-4 pt-0 pb-8 mx-auto">
  <QuoteWName
    quote="We are very pleased with the redesign of our website.  Our experience working with them was tailored to our needs.  We were very impressed by their extensive knowledge of our business needs as well as our web design needs.  We were very fortunate to have them work with us."
    name="Quinton"
  />
  <div class="mt-4">
    <h3 class="text-2xl text-slate-800 dark:text-slate-50 pl-4">
      We helped Quinton's site go from page 9 on Google to page <span
        class="font-semibold">1 in 90 days.</span
      >
    </h3>
  </div>
</section>
