---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

import siteData from "../data/site.json";
import ArticleCard from "@/components/custom/ArticleCard.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
// const posts = await getCollection("posts");
// console.log("posts", posts);
---

<Layout
  title="Sublime UX Blog"
  description={siteData.siteDescription}
  image={siteData.image.src}
>
  <h1 class="text-primaryDrk font-bold text-3xl">Sublime UX Blog</h1>
  <div class="grid grid-cols-3 gap-4 my-12">
    {
      posts.map((article) => {
        return (
          <div class="grid col-span-3 md:col-span-1">
            <ArticleCard article={article} />
          </div>
        );
      })
    }
  </div>
</Layout>
<!--  -->
