---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PostList from "../components/custom/PostList.astro";

const blog = await getCollection("blog");
---

<Layout title="Sublime UX Blog">
  <h1 class="text-primaryDrk font-bold text-3xl">Sublime UX Blog</h1>
  <PostList blog={blog} />
</Layout>
