---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Thank you page">
  <div class="container h-screen">
    <main>
      <h1 class="text-5xl mb-4">Submission Received!</h1>
      <p class="text-xl mb-16">
        Thank you for your message! Someone will get back to you very soon.
      </p>
      <Button text="Back To Home Page" href="/" textColor="primary-Drk" />
    </main>
  </div>
</Layout>
