---
import { Image } from "astro:assets";
import crowd from "../assets/images/crowd.webp";
---

<section
    id="strategy"
    class="relative overflow-hidden py-8 md:py-12 px-6 bg-slate-50 text-slate-900 h-screen min-h-125 max-h-300"
    data-aos="fade-up"
>
    <!-- Background Element -->
    <!-- <div
        id="strategic-session"
        class="absolute inset-0 z-0 pointer-events-none overflow-hidden"
    >
        <div
            class="hidden md:block absolute right-0 top-0 h-full w-full bg-gradient-to-b from-neutral-50/10 to-neutral-50"
            style="clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%); opacity: 0.6;"
        >
            <Image
                src={crowd}
                width={600}
                format="avif"
                quality={75}
                alt="Strategic session"
                class="object-cover w-full h-full grayscale-75 opacity-70"
            />
        </div>
    </div> -->
    <span
        class="text-[8vw] uppercase tracking-tight font-semibold mb-8 block gradient-text"
        data-aos="fade-down"
        data-aos-delay="200">The Strategic Gap</span
    >
    <div
        class="relative z-10 max-w-screen-7xl mx-auto grid md:grid-cols-2 gap-12 lg:gap-24 items-center"
    >
        <div>
            <h2
                class="text-lg md:text-2xl font-serif font-light leading-tight mb-12"
                data-aos="fade-right"
                data-aos-delay="100"
            >
                Your mission is clear. <br />
                <span
                    class="italic opacity-70 text-brand-teal mix-blend-difference text-xl md:text-4xl"
                    >Your digital presence is a "Friction Tax" on your growth.</span
                >
            </h2>
            <div class="space-y-8">
                <p
                    class="text-lg md:text-xl font-light leading-relaxed text-neutral-900"
                >
                    In an era of noise, clarity is a technical requirement. We
                    deploy the
                    <strong class="font-bold"
                        >Revenue Engine Architect protocol</strong
                    > to untangle complex institutional structures and translate them
                    into precise,
                    <strong class="font-bold"
                        >high-performance digital architecture</strong
                    >
                    that both humans and AI engines can trust.
                </p>
                <p
                    class="text-lg md:text-xl font-light leading-relaxed opacity-90"
                >
                    Most public-private partnerships suffer from <strong
                        class="font-bold">"Information Bloat"</strong
                    > a 40% friction tax that hides ROI. We transform fragmented data
                    into a unified,
                    <strong class="font-bold">machine-readable narrative</strong
                    > that drives regional investment and consensus across the entire
                    stakeholder ecosystem.
                </p>
            </div>
        </div>
        <div
            class="space-y-8 grid grid-cols-1 grid-rows-1 justify-center items-center"
            data-aos="fade-left"
            data-aos-delay="100"
        >
            <div
                class="col-start-1 col-end-2 row-start-1 row-end-2 rounded-lg overflow-hidden"
            >
                <Image
                    src={crowd}
                    widths={[276, 312, 400]}
                    sizes="(max-width: 767px) 95vw, 400px"
                    format="avif"
                    quality={80}
                    alt="Strategic session"
                    class="object-cover w-full h-full"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</section>
