---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav>
  <h2 class="text-2xl text-gray-700 py-2">Table of Contents</h2>
  <ul>
    {
      filteredHeadings.map((heading) => (
        <li>
          <a href={`#${heading.slug}`} class="text-teal-500 underline">
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
